# dependencies
/node_modules

# build outputs
/build
/dist

# system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Ignore Photoshop files
*.psd

# environment files
.env
.env.local

# image design files
*.psd
*.ai
*.eps
*.xcf
