/* Animated Delete Button Styles */
.animated-delete-btn {
    --background: #ff4249;
    --background-hover: #ff4248e1;
    --text: #fff;
    --icon: #fff;
    display: flex;
    outline: none;
    cursor: pointer;
    border: 0;
    min-width: 113px;
    padding: 9px 20px 9px 12px;
    border-radius: 11px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    color: var(--text);
    background: var(--b, var(--background));
    transition: transform 0.3s, background 0.4s;
    transform: scale(var(--scale, 1)) translateZ(0);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.animated-delete-btn:active {
    --scale: 0.95;
}

.animated-delete-btn:hover {
    --b: var(--background-hover);
}

.animated-delete-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.delete-icon,
.delete-text {
    display: inline-block;
    vertical-align: top;
    transform: translateZ(0);
}

.delete-icon {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1;
    margin-right: 8px;
    color: var(--text);
}

.delete-icon svg {
    width: 96px;
    height: 96px;
    display: block;
    position: absolute;
    left: -36px;
    top: -36px;
    will-change: transform;
    fill: var(--icon);
    transform: scale(0.254) translateZ(0);
    animation: var(--name, var(--name-top, none)) 2200ms ease forwards;
}

.delete-icon .delete-icon-bottom {
    --name: var(--name-bottom, none);
}

.delete-text {
    animation: var(--name-text, none) 2200ms ease forwards;
}

.animated-delete-btn.deleting {
    --name-top: delete-trash-top;
    --name-bottom: delete-trash-bottom;
    --name-text: delete-text-animation;
}

/* Animations */
@keyframes delete-trash-bottom {

    25%,
    32% {
        transform: translate(32px, 19px) scale(1) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.254) translateZ(0);
    }

    100% {
        transform: scale(0.254) translateZ(0);
    }
}

@keyframes delete-trash-top {

    25%,
    32% {
        transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.254) translateZ(0);
    }

    100% {
        transform: scale(0.254) translateZ(0);
    }
}

@keyframes delete-text-animation {
    25% {
        transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
    }

    70% {
        opacity: 1;
        transform: translate(-12px, 48px) rotate(-80deg) scale(0.2) translateZ(0);
    }

    71% {
        opacity: 0;
    }

    72%,
    90% {
        opacity: 0;
        transform: translateZ(0);
    }

    100% {
        opacity: 1;
    }
}




/* Add product */

.bg-form-addprod {
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 #4a4a4a00;
}

.add-prod-inputs {
    margin-top: 15px;
}

.add-prod-inputs label {
    font-size: 15px;
    color: #616161;
    margin-bottom: 10px;
    font-weight: bold;
}

.add-prod-inputs .input-group {
    margin-bottom: 15px;
}

.add-prod-inputs .form-control {
    background-color: #fffbed;
    border: none;
    outline: none;
    height: 42px;
    font-size: 12px;
}

.add-prod-inputs .form-control:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: #fffbed !important;
}


.custom-placeholder::placeholder {
    color: #4A4A4A99;
}