/* ::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}
  
::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
} */

* {
  font-family: sans-serif !important;
}

.container {
  max-width: 1475px !important;
  margin: 0 auto;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 12px;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.11);
  border-radius: 50%;
}

.whatsapp-float img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.whatsapp-float img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.158);
}

@media only screen and (max-width: 600px) {
  .whatsapp-float {
    display: none;
  }
}

.col-lg-6 {
  /* padding: 0 !important; */
}
